.title {

    position: fixed;
    background-color: grey;
    // max-height: 80px;
    // min-height: 80px;
    font-size: 15px;
    text-align: center;
    color: white;
    top: 45px;
    width: 100%

    // line-height: 500px;
}
