@import url(http://fonts.googleapis.com/css?family=Raleway);

#auth-button {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background: $grey_dark;
}

#auth-button > button {
  background: $grey_light;
  border: none;
}

#auth-button > button > img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;

}